#footer {
	padding: 28px 0 27px;
}

.copyright {
	@extend %listreset;

	font-weight: 300;

	li {
		display: inline-block;
		vertical-align: middle;
		padding: 0 8px 10px 0;
		position: relative;

		&:last-child {
			&:after {
				content: none;
			}
		}

		&:after {
			content: '|';
			position: absolute;
			top: 0;
			right: 0;
		}

		a {
			color: inherit;

			&:hover {
				color: $orange;
			}
		}
	}
}